# Matlab data files #
#####################
*.mat
*.log
oldScripts/*
my_code/Gammalt/*

# But include the runtime data #
################################
!*runtimes_*.mat
!*params_*.mat
!*errAcc*.mat
