# Matlab data files #
#####################
*.mat
*.log

# But include the runtime data #
################################
!*runtimes_ROADS.mat
!*params_ROADS*.mat
!*acc*.mat
!*err*.mat
!*Acc*.mat
!*Err*.mat
