# Matlab data files #
#####################
*.mat

# Log files #
#############
*.log

# Some unnecessary folders #
############################
oldScripts/*
my_code/Gammalt/*
BorgwardtData/*

# But include the final results #
#################################
!*runtimes_*.mat
!*params_*.mat
!*errAcc*.mat
